<script type="text/javascript"><!--
function doToggleClassName(obj, onClassName, offClassName){obj.className = (obj.className != onClassName) ? onClassName : offClassName;}
function getParentObj(obj){return obj.parentElement || obj.parentNode;}
//--></script>

<div class="vmenu_off">
  <div class="vmenuitem" onclick="doToggleClassName(getParentObj(this),'vmenu_on','vmenu_off')">RPG</div>
  <ul>
    <% projects = Project.where("genre = ?", "RPG") %>
    <% projects.each do |project| %>
    <li><%= project.title %></li>
    <% end %>
  </ul>
</div>
<div class="vmenu_off">
  <div class="vmenuitem" onclick="doToggleClassName(getParentObj(this),'vmenu_on','vmenu_off')">メニュー2</div>
  <ul>
    <li><a href="#">項目2-1</a></li>
    <li><a href="#">項目2-2</a></li>
    <li><a href="#">項目2-3</a></li>
  </ul>
</div>
<div class="vmenu_off">
  <div class="vmenuitem" onclick="doToggleClassName(getParentObj(this),'vmenu_on','vmenu_off')">メニュー3</div>
  <ul>
    <li><a href="#">項目3-1</a></li>
    <li><a href="#">項目3-2</a></li>
    <li><a href="#">項目3-3</a></li>
  </ul>
</div>