<h1><%= @user.username %></h1>

<% if current_player.username == params[:id] %>
  <%= render "projects_list" %><br><br>
<% end %>

<h3>お気に入り一覧</h3>
<ul>
<% @user.favorites.each do |favorite| %>
 <h5><li><%= link_to favorite.title, user_project_path(@user.id, favorite.project) %><br></li></h5>
<% end %> 

