<ul class="nav nav-tabs nav-stacked">
<h1><%= @user.username %></h1>
</ul><br>

<% if current_player.username == params[:id] %>
  <%= render "projects_list" %><br><br>
<% end %>

<h3>お気に入り一覧</h3>
<table class="table table-hover">
<% @user.favorites.each do |favorite| %>
<tr><td><h5>
<%= link_to favorite.title, user_project_path(@user.id, favorite.project) %>
</h5></td></tr>
<% end %>
</table>
