<head>
  <meta charset="UTF-8">
</head>
<body onload="document.chatform.chattext.focus()">

<div>
<ul class="nav nav-list well" style="overflow-y: auto;height: 400px" id="chatbox">

<!-- jsに食わせたい情報などなど -->
<div id="username" style="display:none;"><%= current_player.username %></div>

<!-- チャットのタイムラインとかテキストボックスとか -->
<div id="timeline" style="margin:20px;">
  <div id="chat" data-uri="<%= request.host %>:3000/websocket"></div>
</div>
</ul>

<div>
  <form class="form-inline" name="chatform">
    <input type="text" class="form-control" id="msgbody" name="chattext" size="40" />
    <input type="button" class="btn btn-primary" id="send" value="送信"/>
  </form>
</div>
</div>
</body>