/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  box-sizing: border-box;
}
html, body { min-height: 100%; }
a { text-decoration: none; }

.page-wrap {
  top: 0;
  float: right;
  width: 79%;
}
.main-nav {
  position: fixed;
  top: 0;
  width: 20%;
  height: 100%;
  background: #FFF;
  overflow-y: auto;
}

.back {
  background-image:url("/../../assets/back.png");
  background-size:cover;
}

.sign_in {
  margin-left: 150px;
}

.logo {
  background: #000000;
}

.advertize {
  margin-top: 150px;
  margin-left: 150px;
}

.home-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 15%;
  background: #000;
  overflow-x: auto;
}

.home-wrap {
  top: 0;
  float: top;
  height: 15%;
}

.explain {
  margin-top: 150px;
  margin-left: 150px;
}

.nav-login {
  margin-right: 1000px;
}






body { background: #eee; }